# Python
__pycache__/
*.pyc
.venv/
venv/
.aws-sam/

# Environment variables — NEVER commit
.env
*.env.local

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Node
node_modules/

# AWS SAM build artifacts
.aws-sam/
samconfig.toml.bak

# AWS
.aws/
